<%= comment.content %> - <%= link_to "reply", comment_path(comment) %></br>

<% if comment.comments.any? %>
  <ul>
    <% comment.comments.each do |child_comment| %>
      <li><%= render 'shared/comment_recursion', :comment => child_comment %></li>
    <% end %>
  </ul>
<% end %>