$(".comment[comment_id='2']").append('<ul><li><div class="comment" comment_id="2"><div class="comment-body">wooo</div></li></ul>')

$('.full-listing[link_id="<%= @vote.voteable_id %>"]').effect("highlight", {}, 3000);